.league-container {
    max-width: 600px;
    margin: 0 auto;
}

.league {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
}
.action button{
    margin: 0 5px;
}

.league img {
    height: 30px;
}

.league b {
    flex: 1;
    margin: 0 15px;
}