<h1>Matches</h1>

<div class="match-container">
    <ng-template ngFor let-e [ngForOf]="matches">
        <div class="match">
            <div class="left-team" [routerLink]="['/app/team', e.team1.id]">
                <img src="{{ dataImg[0] }}" alt="">
                <h4>{{ e.team1.name }}</h4>
            </div>
            <div class="st-option">
                <div class="so-text">{{ e.field.name }}</div>
                <h4>{{ e.score }}</h4>
                <div class="so-text">{{ clearDate(e.startAt) }}</div>
            </div>
            <div class="right-team" [routerLink]="['/app/team', e.team2.id]">
                <img src="{{ dataImg[1] }}" alt="">
                <h4>{{ e.team2.name }}</h4>
            </div>
        </div>
    </ng-template>

</div>