<div *ngIf="isMain">
    <h1 style="margin: 25px ;"> Leagues </h1>

    <div style="display: flex;justify-content: center;flex-direction: column;    align-items: center;">
        <button (click)="openModel = true">Add League</button>
        <br />
        <br />
        <table>
            <tr>
                <th>League Name</th>
                <th>Start At</th>
                <th>End At</th>
                <th>op</th>
            </tr>
            <tr style="background: lightgrey; border: 1.5px solid;" *ngFor="let e of leagues">
                <td>{{ e.name }} </td>
                <td>{{ clearDate(e.startTime) }} </td>
                <td>{{ clearDate(e.endTime) }} </td>
                <td>
                    <button [routerLink]="['/admin/match', e.id]">Match</button>
                    <b>&nbsp;&nbsp;</b>
                    <button [routerLink]="['/admin/league', e.id]">Rank</button>
                    <!-- <button (click)="delete">Del</button> -->
                </td>
            </tr>
        </table>
    </div>
</div>

<div *ngIf="!isMain">
    <h1> League# {{ LeagueInfo.name }} </h1>
    <h1>{{ clearDate(LeagueInfo.startTime) }} => {{ clearDate(LeagueInfo.endTime) }} </h1>
    <br />
    <div class="teamView">
        <div>
            <h2>Active Team</h2>
            <div class="container">
                <div class="result-info pb-100 md-pb-80">
                    <table class="result-table">
                        <tbody>
                            <tr>
                                <th>Name</th>
                                <th>Rank</th>
                                <th>option</th>
                            </tr>
                            <tr *ngFor="let e of ActiveLeague" style="background-color: #eff4fd;border:1.5px solid">
                                <td class="logo" style="min-width: 150px;">
                                    {{ e.team.name }}
                                </td>

                                <td class="logo" style="min-width: 150px;">
                                    {{ e.Rank }}
                                </td>

                                <td><a (click)="blockTeam(e.id)" class="readon">block</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div>
            <h2>Pending Team</h2>
            <div class="container">
                <div class="result-info pb-100 md-pb-80">
                    <table class="result-table">
                        <tbody>
                            <tr>
                                <th>Name</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                            <tr *ngFor="let e of PendingLeague" style="background-color: #eff4fd;border:1.5px solid">
                                <td class="logo" style="min-width: 150px;">
                                    {{ e.team.name }}
                                </td>

                                <td class="logo" style="min-width: 150px;">
                                    Pending
                                </td>
                                <td><a *ngIf="!e.status" (click)="confirmJoin(e.id)" class="readon">confirm</a></td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modelBox" *ngIf="openModel">
    <div class="modelBoxContent">
        <h2>Add League</h2>
        <br />
        <form (ngSubmit)="addLeague()">
            <label for="name">Name:</label>
            <input type="text" [(ngModel)]="addLeagueForm.name" placeholder="name" name="name" />
            <br />
            <label for="startTime ">startAt:</label>
            <input type="text" [(ngModel)]="addLeagueForm.startTime" placeholder="start" name="startTime" />
            <br />
            <label for="endTime">endAt:</label>
            <input type="text" [(ngModel)]="addLeagueForm.endTime" placeholder="end" name="endTime" />
            <br />
            <button>Add League</button>
        </form>
        <br />
        <button (click)="openModel = false">Cancel</button>
    </div>
</div>