table tr td{
    padding: 5px 10px;
}
.teamView{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.teamView > div{
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 10px;
    background-color: white;
    padding-bottom: 10px;
}