<div class="main">
    <div class="menu">
        <ul>
            <li><a [routerLink]="['/app/league']">Leagues</a></li>
            <li><a [routerLink]="['/app/match']">Matches</a></li>
<!--           
            <li><a [routerLink]="['/app/ranking']">Ranking</a></li>
            <li><a [routerLink]="['/app/team']">my Team</a></li> -->
            <li>
                <hr />
            </li>
            <!-- <li>My Profile</li> -->
            <li>
                <button (click)="logOut()">
                    Logout
                </button>
            </li>

        </ul>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>