<div class="main">
    <div class="menu">
        <ul>
            <li><a [routerLink]="['/app/league']" routerLinkActive="active">Leagues</a></li>
            <li><a [routerLink]="['/app/match']" routerLinkActive="active">Matches</a></li>
            <!--           
            <li><a [routerLink]="['/app/ranking']">Ranking</a></li> -->
            <li><a [routerLink]="['/app/team']" routerLinkActive="active">my Team</a></li>

            <li><a [routerLink]="['/app/profile']" routerLinkActive="active">My Profile</a></li>
            <li>
                <br />
                <br />

            </li>
            <li>
                <button (click)="logOut()">
                    Logout
                </button>
            </li>

        </ul>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>