<div class="main">
    <div class="menu">
        <ul>
            <li><a [routerLink]="['/admin/league']" routerLinkActive="active">League</a></li>
            <li><a [routerLink]="['/admin/terrain']" routerLinkActive="active">Terrains</a></li>
            <li><a [routerLink]="['/admin/match']" routerLinkActive="active">Matches</a></li>
            <li><a [routerLink]="['/admin/profile']" routerLinkActive="active">Profile</a></li>
            <li><br /></li>
            <li><br /></li>
            <li>
                <button (click)="logout()">
                    Logout
                </button>
            </li>

        </ul>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>